
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SelectDormitory/SelectDormitory/.vs/SelectDormitory/FileContentIndex/d31bb7ca-72b7-47d8-82aa-ca8fe52490ea.vsidx
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/SelectDormitory.csproj.GenerateResource.cache
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/.vs/SelectDormitory/FileContentIndex/4106ae37-0062-4155-a3d1-2f6608ba0403.vsidx
SelectDormitory/SelectDormitory/.vs/SelectDormitory/FileContentIndex/cbdcdb83-753b-48e2-b131-af00d2eaf246.vsidx
SelectDormitory/SelectDormitory/.vs/SelectDormitory/FileContentIndex/953b9a10-8c66-49e7-b8f3-a78997f51c6d.vsidx
