
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SelectDormitory/SelectDormitory/.vs/SelectDormitory/FileContentIndex/d31bb7ca-72b7-47d8-82aa-ca8fe52490ea.vsidx
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/obj/Debug/SelectDormitory.csproj.GenerateResource.cache
SelectDormitory/SelectDormitory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelectDormitory/SelectDormitory/.vs/SelectDormitory/FileContentIndex/4106ae37-0062-4155-a3d1-2f6608ba0403.vsidx
