USE [master]
GO
/****** Object:  Database [SelectDormitory]    Script Date: 2024/9/27 14:39:08 ******/
CREATE DATABASE [SelectDormitory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SelectDormitory', FILENAME = N'E:\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SelectDormitory.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SelectDormitory_log', FILENAME = N'E:\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SelectDormitory_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelectDormitory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelectDormitory]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2024/9/27 14:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [nchar](20) NULL,
	[Password] [nchar](20) NULL,
	[model] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildingName]    Script Date: 2024/9/27 14:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingName](
	[BuildingId] [int] NULL,
	[Name] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distribute]    Script Date: 2024/9/27 14:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distribute](
	[DormitoryBuilding] [int] NULL,
	[DormitoryNumberBegin] [int] NULL,
	[DormitoryNumberEnd] [int] NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Major] [nvarchar](20) NOT NULL,
	[Sleep] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DorName]    Script Date: 2024/9/27 14:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DorName](
	[Id] [int] NULL,
	[DorName] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DorNum]    Script Date: 2024/9/27 14:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DorNum](
	[DormitoryNumber] [int] NULL,
	[DormitoryBuilding] [int] NULL,
	[Bed1] [nvarchar](10) NULL,
	[Bed2] [nvarchar](10) NULL,
	[Bed3] [nvarchar](10) NULL,
	[Bed4] [nvarchar](10) NULL,
	[Num] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 2024/9/27 14:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[Id] [nvarchar](20) NULL,
	[Name] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2024/9/27 14:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Major] [nvarchar](20) NOT NULL,
	[Sleep] [nvarchar](10) NULL,
	[DormitoryBuilding] [int] NULL,
	[DormitoryNumber] [int] NULL,
	[DormitoryBed] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
